.loader_box {
  position: relative;
  background-color: var(--background-color);
  display: block;
  width: 100px;
  height: 100px;
  margin: auto auto;
  overflow: hidden;
}

.loader_img {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: auto;
}

.loader_styled {
  display: block;
  position: absolute;
  background-image: linear-gradient(
    to top,
    var(--background-color),
    #00000000,
    var(--background-color),
  );
  transform: rotate(-60deg);
  box-shadow: 0px 0px 38px 23px var(--background-color);

  width: 400px;
  height: 250px;
}


